* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    cursor: pointer;
    color: red;
    background-color: #ffffc7;
}

#Reset-btn {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    background-color: red;
    cursor: pointer;
    margin-top: 2rem;
}

#new-game-btn {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    background-color: green;
    cursor: pointer;
    margin-top: 1rem;
}

#msg{
    font-size: 5vmin;
    font-weight: bold;
    color: red;
}

#msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}